  .navbar {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #1b1e25;
      padding: 1rem;
      z-index: 1000;

      .navbar-container {
          max-width: 1200px;
          margin: 0 auto;
          padding: 0 1rem;

          .navbar-icons {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .nav-link {
                  color: #636882;
                  text-decoration: none;

                  .homeicon, .exploreicon {
                      font-size: 1.5em;
                  }

                  &.active {
                      color: #4d97cd;
                  }
              }
          }
      }
  }
